* {
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
header {
    text-align: center;
    background-color: rgb(233, 243, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    font-family: 'Caladea', serif;
    font-family: 'Open Sans', sans-serif
}

main {
    text-align: center;
    line-height: 1.5;
}

h2 {
    padding-bottom: 40px;
    padding-top: 35px;
}

footer {
    background-color: rgb(233, 243, 255);
}

.main-nav ul {
    padding-right: 40px;
}

.main-nav li {
    background-color: rgba(255, 255, 255, 0.979);
    margin-bottom: 10px;
    list-style-type: none;
    line-height: 1.5;
    font-weight: bold;
}

.intro {
    line-height: 1.5;
}

.projects {
    margin-bottom: 60px;
}

.image {
    max-width: 90%;
}

.contact {
    margin-top: 20px;
    border-bottom: thin solid rgb(126, 118, 118);
    text-align: center;
    line-height: 1.4;
}

.name-bottom {
    float:left;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 16px;
}

.back-to-top {
    float: right;
    margin-right: 10px; 
}

.bottom {
    background-color: rgb(233, 243, 255);
}


@media (max-width:767px) {
    .bottom-nav {
        display: none;
    }
}


@media (min-width:768px) {
   .main-nav li {
       display: inline-block;
       line-height: 1.5;
       margin: 10px 25px 0 25px;
       font-size: large;
       background-color: rgb(233, 243, 255);
       padding-bottom: 50px;
   }

   .profile {
       float: right;
   }

   .intro {
        text-align: unset;
        font-size: 24px;
   }

   .projects {
       display: inline-block;
       max-width: 45%;
       margin: 0 10px;
   }

   .ending-text {
        margin: 0 150px;
   }

   .back-to-top {
        display: none;
   }

   .bottom-nav ul {
        list-style-type: none;
        margin-left: 450px;
   }

   .bottom-nav li {
        display: inline-block;
        margin-left: 25px;
        font-weight: bold;
   }
}